form table{border-collapse:collapse; border-spacing:0; font:13px arial,helvetica,clean,sans-serif; font-size:small; width:100%; }
form td{padding:7px; }
form select,input,textarea{font:99% arial,helvetica,clean,sans-serif;border: solid 1px #aaa;}
form textarea{resize:none;}
form#subform .labels {text-align:right; font-weight:bold; width: 20%; }
form#subform .input{border:1px #999 solid; width:260px; height:30px; line-height:30px; background-color:#FFFFFF;  padding-left:5px; }
form#subform .txt{ height:30px; line-height:30px; width:50%;}
form#subform .title{height:30px; line-height:30px; width:70%;}
form#subform .textarea{height:120px; line-height:30px; width:70%; background-color:#FFFFFF; padding:6px; }
form#subform .submit{padding: 5px 30px; color: #fff; background-color:#8ABB3E; cursor: pointer; border: none; font-size:14px; }
form#subform .submit:hover{ background-color:#698F30;}
/*��腓堺�桁��*/
.tip-yellowsimple {z-index:999; text-align:left; border:1px solid #c7bf93; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:6px 8px; min-width:50px; max-width:300px; color:#000; background-color:#fff9c9; }
.tip-yellowsimple .tip-inner {font:12px/16px arial,helvetica,sans-serif; }
.tip-yellowsimple .tip-arrow-top {margin-top:-6px; margin-left:-5px; top:0; left:50%; width:9px; height:6px; background:url(tip-yellowsimple_arrows.gif) no-repeat; }
.tip-yellowsimple .tip-arrow-right {margin-top:-4px; margin-left:0; top:50%; left:100%; width:6px; height:9px; background:url(tip-yellowsimple_arrows.gif) no-repeat -9px 0; }
.tip-yellowsimple .tip-arrow-bottom {margin-top:0; margin-left:-5px; top:100%; left:50%; width:9px; height:6px; background:url(tip-yellowsimple_arrows.gif) no-repeat -18px 0; }
.tip-yellowsimple .tip-arrow-left {margin-top:-4px; margin-left:-6px; top:50%; left:0; width:6px; height:9px; background:url(tip-yellowsimple_arrows.gif) no-repeat -27px 0; }
